<%- include('partials/nav') -%>
<h1>About BlogMe</h1>
<hr>
<h3 style='max-width:50%;'>This Web Aplication is created to make postings of everyday events, trips, or if you just want to share experiecnces or tips with everyone.</h3>
<h3>Go ahead and share your own post!</h3>
<%- include('partials/footer') -%>