<%- include('partials/nav') -%>
<h1>Im David, Im Here To Help You</h1>
<hr>
<h2>Phone</h2>
<h4>908-992-5727</h4>
<hr>
<h2>Email</h2>
<h4>davicho_balla@hotmail.com</h4>
<%- include('partials/footer') -%>